* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264d6;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    background: #fff;
}

/* Common */
a {
    text-decoration: none;
    text-wrap: nowrap;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 58px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 113px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    border: 1px solid #212832;
    background: #212832;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header {
    padding: 26px 0;
    position: sticky;
    top: -1px;
    z-index: 1000;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo__inner {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 24px;
    height: 24px;
}

.logo__text {
    margin-left: 5px;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.navbar {
    margin-left: 46px;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 24px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.navbar__link {
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.navbar__link::after {
    content: "";
    position: absolute;
    left: 24px;
    bottom: 3px;
    width: calc(100% - 48px);
    height: 2px;
    border-radius: 0.5px;
    background-color: #7264d6;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.navbar__link:hover {
    color: #212832;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link:hover::after {
    opacity: 1;
}

.header-action {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
}

.header-action__link {
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.header-action__btn {
    --height: 52px;

    min-width: 113px;
}
